rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /inventory/{fileName} {
      allow read: if true;
      allow write: if false;
    }

    match /rental-games/{fileName} {
      allow read: if true;
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
